DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=goapi

RABBITMQ_URL=amqp://guest:guest@localhost:5672/

SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_FROM=noreply@icarros.com

ADMIN_EMAIL=admin@icarros.com
